.btn_rounded {
  height: 32px;
  width: 32px;
  border-radius: 6px;
  background-color: rgb(204, 240, 232);
}
.btn_circle {
  background-color: yellowgreen;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
